@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('Raleway-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;

  background-color: #F0F0F0;
}

body {
  display: flex;
  flex-direction: column;
  width: 1440px;
  min-height: 100%;
  margin: 0 auto;

  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #FFFFFF;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  padding: 40px 140px 0;
  height: 100%;
}

.navigation {
  position: relative;

  width: 1160px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 2px;

  background-color: #FFE17F;
}

.logo {
  position: absolute;
  top: -23px;
  left: 60px;

  display: block;

  text-decoration: none;
  color: #000000;
}

.logo svg {
  fill: #000000;
  stroke: #000000;
}

.logo:hover svg {
  fill: #000000;
  stroke: #000000;
  opacity: 0.6;
}

.logo:active svg {
  fill: #000000;
  stroke: #000000;
  opacity: 0.3;
}

.logo:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-users-list {
  display: grid;
  grid-template-columns: 517px 163px 64px 107px 116px;
  column-gap: 18px;
  width: 1040px;
  margin: 0 auto;
  padding: 0;
  padding-top: 41px;
  align-items: center;
  justify-content: start;
}

.navigation-user-item {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-user-item:first-child {
  width: 517px;
}

.navigation-user-link {
  color: #000000;
  text-decoration: none;
}

.navigation-user-link:hover {
  color: #000000;
  opacity: 0.6;
}

.navigation-user-link:active {
  color: #000000;
  opacity: 0.3;
}

.navigation-user-link:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-search {
  position: relative;

  display: flex;
  grid-column: 1/2;

  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.navigation-search::before {
  position: absolute;
  top: 12px;
  left: 16px;

  width: 16px;
  height: 16px;
  content: url("../image/search.svg");
}

.search-input {
  width: 359px;
  padding: 10px 16px 10px 48px;
  box-sizing: border-box;

  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
}

input[type="text"]::placeholder {
  color: #000000;
  opacity: 0.3;
}

input[type="text"]::placeholder-shown {
  color: #000000;
}

.search-input:focus {
  outline: none;
}

.search-label {
  padding-block: 2px;
}

.search-label:focus-within {
  outline: 2px solid #AF4FFF;
  outline-offset: -2px;
}

.search-input:disabled {
  color: #000000;
  opacity: 0.3;
}

.button-search {
  width: 160px;
  padding: 10px 55px;
  margin-left: -2px;

  text-align: center;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
}

.button-search:hover {
  color: #FFFFFF;

  background: #000000;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);

  background: #000000;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
}

.button-search:focus {
  border: 2px solid #000000;
  outline: none;
}

.button-search:disabled {
  color: #000000;
    opacity: 0.3;
}

.log-in {
  grid-column: 2/3;
}

.log-in::before {
  margin-right: 13px;
  content: url("../image/icon-person.svg");
}

.log-out {
  opacity: 0.3;
}

.compare-item {
  grid-column: 4/5;
}

.compare::before {
  margin-right: 13px;
  content: url("../image/shedule.svg");
}

.basket-item {
  position: relative;

  grid-column: 5/-1;
  margin-left: auto;
}

.basket::before {
  content: url("../image/basket.svg");
}

.amount-products {
  position: absolute;
  top: 5px;
  left: -13px;

  display: flex;
  width: 21px;
  height: 21px;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 17px;

  background-color: #FFFFFF;
  border-radius: 50%;
}

.popover {
  display: none;
  position: absolute;
  top: 33px;
  left: -160px;
  z-index: 1;
}

.basket-item:hover .popover {
  display: block;
}

.popover-cart {
  width: 320px;
  padding: 20px;
  box-sizing: border-box;

  background-color: #000000;
}

.content {
  display: grid;
  grid-template-columns: 120px 150px;
  column-gap: 10px;
}

.popover-list {
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
}

.popover-item {
  display: grid;
  grid-template-columns: 253px 14px;
  column-gap: 13px;
  align-items: center;
}

.popover-item-information {
  display: grid;
  grid-template-columns: 39px 205px;
  column-gap: 13px;
  align-items: center;

  text-decoration: none;
}

.popover-item-information:hover {
  opacity: 0.6;
}

.popover-item-information:active {
  opacity: 0.3;
}

.popover-item-information:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: -2px;
}

.popover-item-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

.popover-close {
  width: 14px;
  padding: 2px;
  margin: 0;

  align-self: start;
  border: none;
  background-color: transparent;
}

.popover-close:hover svg {
  opacity: 0.6;
}

.popover-close:active svg {
  opacity: 0.3;
}

.popover-close:focus {
  width: 14px;
  padding: 2px;
  box-sizing: border-box;

  outline: 2px solid #AF4FFF;
  outline-offset: -2px;
}

.popover-information {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

.information-about-price {
  display: flex;
  width: 150px;
  justify-content: flex-end;
}

.popover-button {
  width: 280px;
  padding: 15px 25px;
  box-sizing: border-box;

  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;

  background-color: #FFFFFF;
}

.popover-button:hover {
  background-color: #FFE17F;
}

.popover-button:active {
  color: rgb(0,0,0,0.3);
}

.popover-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: -2px;
}

.navigation-list {
  display: grid;
  grid-template-columns: 545px 155px 150px 162px;
  column-gap: 7px;
  width: 1040px;
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}

.navigation-item {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-item:nth-child(4) {
  justify-self: end;
}

.header-catalog {
  position: relative;

  grid-column: 1/2;
  justify-self: start;
}

.navigation-link {
  display: block;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;

  text-transform: uppercase;
  text-decoration: none;
}

.navigation-link:hover {
  color: #000000;
  opacity: 0.6;
}

.navigation-link:active {
  color: #000000;
  opacity: 0.3;
}

.navigation-link:focus {
  outline: 2px solid #AF4FFF;
}

.header-catalog-link {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.header-catalog-link svg {
  margin-left: 7px;
}

.hidden-menu {
  position: absolute;
  top: 53px;
  left: 0;
  z-index: 2;

  display: none;
  width: 675px;

  background-color: #FFE17F;
}

.header-catalog:hover .hidden-menu {
  display: block;
}


.hidden-menu-list {
  display: grid;
  grid-template-columns: 251px 211px 211px;
  column-gap: 1px;
  margin: 0;
  padding: 0;
}

.hidden-menu-item {
  margin-bottom: 15px;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  list-style-type: none;
  color: #000000;
}

.hidden-menu-item:last-child {
  grid-column: 1/2;
  margin-bottom: 0;
}

.hidden-menu-link {
  color: #000000;
  text-decoration: none;
}

.hidden-menu-link:hover {
  color: #000000;
  opacity: 0.6;
}

.hidden-menu-link:active {
  color: #000000;
  opacity: 0.3;
}

.hidden-menu-link:focus {
  outline: 2px solid #AF4FFF;
}

.page-main {
  width: 1440px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.product-slider {
  position: relative;

  width: 1160px;
  margin: 0 auto;

  background: linear-gradient(to bottom, #FFE17F 0%, #FFE17F 24%, #FFFFFF 24%, #FFFFFF 100%);
}

.slider-pagination {
  position: absolute;
  right: 0;
  bottom: 187px;
}

.slider-pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  column-gap: 20px;
}

.slider-pagination-item {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #FFFFFF;
  outline: 2px solid #000000;
  outline-offset: -2px;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-button-current {
  background-color: #000000;
}

.slider-pagination-button:hover {
  background-color: #000000;
  opacity: 0.6;
}

.slider-pagination-button:active {
  background-color: #000000;
  opacity: 0.3;
}

.slider-pagination-button:focus {
  background-color: #000000;
  outline: 2px solid #AF4FFF;
}

.slider-wrapper {
  display: flex;
  width: 1160px;
  overflow-x: hidden;
}

.element {
  display: grid;
  grid-template-columns: 560px 560px;
  column-gap: 40px;
}

/*
.element-1,
.element-2 {
  display: none;
}
*/

.element-image {
  position: relative;

  grid-column: 1/2;
  width: 560px;
}

.slider-image {
  display: block;
}

.slider-button {
  width: 24px;
  height: 64px;

  background-color: transparent;
  border: none;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  outline: 2px solid #AF4FFF;
}

.slider-prev {
  position: absolute;
  top: 211px;
  right: 510px;
  bottom: 289px;
  left: 30px;
}

.slider-next {
  position: absolute;
  top: 211px;
  right: 0;
  bottom: 289px;
  left: 540px;
  transform: rotate(180deg);
}

.product-information {
  width: 560px;
  padding-top: 107px;
}

.product-title {
  margin: 0;
  margin-right: 15px;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  letter-spacing: -4px;
  color: #000000;
}

.product-description {
  margin-bottom: 61px;

  color: #444444;
}

.product-information-container {
  display: flex;
  width: 560px;
  margin-bottom: 59px;
  justify-content: space-between;
}

.product-link {
  display: block;
  width: 220px;
  padding-block: 10px;
  box-sizing: border-box;

  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  text-decoration: none;
  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 30%, #FFE17F 30%, #FFE17F 70%, #FFFFFF 70%, #FFFFFF 100%);
}

.product-link:hover {
  background: #FFE17F;
}

.product-link:active {
  background: #FFCC33;
}

.product-link:focus {
  border: none;
  outline: 2px solid #AF4FFF;
}

.product-link:disabled {
  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 30%, #FFE17F 30%, #FFE17F 70%, #FFFFFF 70%, #FFFFFF 100%);
  opacity: 0.3;
}

.information-about-product {
  display: flex;
  column-gap: 20px;
}

.information-about-product dt {
  display: block;
  margin-bottom: 12px;

  font-size: 36px;
  color: #000000;
}

.information-about-product dd {
  padding: 0;
  margin: 0;
}

.catalog-product {
  width: 1160px;
  margin: 0 auto;
  padding-block: 70px;
}

.catalog-product-list {
  display: flex;
  margin: 0;
  padding: 0;
  column-gap: 40px;
}

.catalog-product-item {
  width: 160px;

  list-style-type: none;
}

.catalog-product-link {
  display: block;
  width: 160px;
  min-height: 160px;

  text-decoration: none;
}

.image-information {
  display: flex;
  flex-direction: column;
  width: 160px;
  row-gap: 33px;

  margin: 0;
  padding: 0;
}

.catalog-product-link:focus {
  outline: 2px solid #AF4FFF;
}

.image-wrapper {
  display: flex;
  width: 160px;
  min-height: 160px;
  justify-content: center;

  background-color: #FFE17F;
}

.image-wrapper:hover {
  background-color: #FFC700;
}

.image-wrapper:active {
  background-color: #FFC700;
  opacity: 0.3;
}

.catalog-product-link-title {
  display: block;
  min-height: 60px;
  margin: 0;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.advantage {
  position: relative;

  width: 1160px;
  margin: 0 auto;
  padding: 0 140px 70px;

  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 16%, #F0F0F0 16%, #F0F0F0 62%, #FFFFFF 62%, #FFFFFF 100%);
}

.advantage-container {
  display: flex;
  width: 1160px;
  margin-bottom: 72px;
}

.advantage-list {
  width: 280px;
  margin: 0;
  padding: 0;
  padding-top: 64px;

  border-right: 7px solid #000000;
}

.advantage-item {
  width: 280px;
  margin: 0;
  margin-right: 36px;
  margin-bottom: 36px;

  list-style-type: none;
}

.advantage-item:first-child {
  display: block;

  background-color: #000000;
}

.advantage-item:last-child {
  margin-bottom: 0;
}

.advantage-link {
  display: inline-block;
  min-width: 160px;
  min-height: 20px;
  padding: 9px;
  box-sizing: border-box;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;

  background: linear-gradient(to bottom, #F0F0F0 0%, #F0F0F0 30%, #FFE17F 30%, #FFE17F 70%, #F0F0F0 70%, #F0F0F0 100%);
}

.advantage-link:hover {
  opacity: 0.6;
}

.advantage-link:active {
  opacity: 0.3;
}

.advantage-link:focus {
  outline: 2px solid #AF4FFF;
}

.advantage-link-current {
  color: #FFE17F;

  background: #000000;
}

.delivery-container {
  margin-left: 116px;
  width: 448px;
  padding-block: 72px 72px;
}

.delivery-container::after {
  position: absolute;
  top: 77px;
  right: 203px;
  bottom: 149px;
  left: 1101px;

  content: url("../image/delivery-person.svg");
}

.delivery-title {
  margin: 0;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.order-delivery {
  width: 1160px;
  height: 100px;
  margin: 0 auto;
  padding-top: 70px;
}

.order-delivery-link {
  position: relative;

  display: flex;
  width: 1160px;
  min-height: 100px;
  justify-content: center;
  align-items: center;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #F0F0F0;
}

.order-delivery-link:hover {
  opacity: 0.6;
}

.order-delivery-link:active {
  opacity: 0.3;
}

.order-delivery-link:focus {
  outline: 2px solid #AF4FFF;
}

.order-delivery-link::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 125px;
  min-height: 100px;
  padding: 33px 39px 32px;
  box-sizing: border-box;

  background-color: #FFE17F;
  content:url("../image/car-delivery.svg");
}

.order-delivery-link::after {
  position: absolute;
  top: 30px;
  right: 43px;

  background-color: #F0F0F0;
  content: url("../image/delivery-info.svg");
}

.information {
  display: grid;
  grid-template-columns: 520px 532px;
  column-gap: 108px;
  width: 1160px;

  margin: 0 auto;
  padding-bottom: 70px;
}

.about-us {
  display: flex;
  flex-direction: column;
  width: 497px;
  padding-right: 23px;
  row-gap: 30px;
}

.about-us-title {
  margin: 0;
  margin-block: 40px 18px;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.about-us-description {
  margin: 0;
  padding: 0;
}

.about-us-list {
  width: 497px;
  margin: 0;
  padding: 0;
}

.about-us-item {
  position: relative;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  padding-left: 26px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
  list-style-type: none;
}

.about-us-item:last-child {
  margin-bottom: 0;
}

.about-us-item::before {
  position: absolute;
  top: 6px;
  right: 26px;
  bottom: 6px;
  left: 0;
  display: block;
  content: "";
  width: 8px;
  height: 8px;

  background-color: #FFC700;
  border-radius: 50%;
}

.about-us-link {
  display: block;
  width: 270px;
  margin-top: 10px;
  padding-inline: 6px;
  box-sizing: border-box;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;

  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 30%, #FFE17F 30%, #FFE17F 70%, #FFFFFF 70%, #FFFFFF 100%);
}

.about-us-link:hover {
  background: #FFE17F;
}

.about-us-link:active {
  background: #FFCC33;
}

.about-us-link:focus {
  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 30%, #FFE17F 30%, #FFE17F 70%, #FFFFFF 70%, #FFFFFF 100%);
  outline: 2px solid #AF4FFF;
}

.contacts {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 509px;
  padding-right: 23px;
}

.contacts-title {
  margin: 0;
  margin-block: 40px 18px;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.contacts-description {
  margin: 0;
  padding: 0;
}

.shop-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #444444;
}

.contact-address {
  margin: 0;
  padding: 0;

  font-style: normal;
}

.contact-address-description {
  margin: 0;
  padding: 0;
}

.contact-phone {
  color: #444444;
}

.contact-phone:hover {
  opacity: 0.6;
}

.contact-phone:active {
  opacity: 0.3;
}

.contact-phone:focus {
  outline: 2px solid #AF4FFF;
}

.time-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #444444;
}

.contact-list {
  margin: 0;
  padding: 0;
}

.contact-item {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contact-link {
  display: block;
  width: 259px;
  margin-top: 10px;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;

  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 30%, #FFE17F 30%, #FFE17F 70%, #FFFFFF 70%, #FFFFFF 100%);
}

.contact-link:hover {
  background: #FFE17F;
}

.contact-link:active {
  background: #FFCC33;
}

.contact-link:focus {
  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 30%, #FFE17F 30%, #FFE17F 70%, #FFFFFF 70%, #FFFFFF 100%);
  outline: 2px solid #AF4FFF;
}

.subscribe {
  width: 1440px;
  margin: 0 auto;
  padding-block: 64px 56px;

  background-color: #F0F0F0;
}

.subscribe-container {
  display: grid;
  grid-template-columns: 348px 252px 560px;
  grid-template-rows: min-content;
  row-gap: 144px;
  width: 1160px;
  margin: 0 auto;
}

.subscribe-title {
  grid-column: 1/2;
  margin: 0;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  letter-spacing: -2px;
  color: #000000;
}

.subscribe-description {
  grid-column: 3/-1;
}

.subscribe-form-container {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.subscribe-form {
  display: flex;
  grid-column: span 3;
}

.subscribe-input {
  width: 557px;
  padding: 11px;

  border: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: transparent;
}

input[type="email"]:hover {
  background-color: #DCDCDC;
}

input[type="email"]:focus {
  opacity: 0.5;
  background: #DCDCDC;
  outline: 2px solid #AF4FFF;
}

input[type="email"]:active {
  color: #444444;
  opacity: 1;
  outline: none;
  background-color: #EBEBEB;
}

input[type="email"]:invalid {
  outline: 3px solid #FF3D3D;
  outline-offset: -3px;
}

input[type="email"]::placeholder {
  color: #444444;
  opacity: 0.5;
}

input[type="email"]::placeholder-shown {
  color: #444444;
  opacity: 1;
}

.subscribe-button {
  width: 253px;
  padding: 12px 33px;
  box-sizing: border-box;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border: 3px solid #C4C4C4;
}

.subscribe-button:hover {
  background-color: #DCDCDC
}

.subscribe-button:focus {
  opacity: 0.5;
  background: #DCDCDC;
  outline: 2px solid #AF4FFF;
}

.subscribe-button:active {
  color: #444444;
  opacity: 1;
  outline: none;
  background-color: #EBEBEB;
}

.subscribe-note {
  width: 160px;
  display: block;
}

.subscribe-note::before {
  content: url("../image/mark.svg");
  margin-right: 17px;
}

.page-footer {
  width: 1160px;
  padding: 62px 140px 61px;

  background-color: #444444;
}

.footer-container {
  display: grid;
  grid-template-columns: 234px 444px 248px;
  grid-template-rows: auto;
  column-gap: 117px;
  row-gap: 62px;
  margin: 0 auto;
  align-items: center;
}

.navigation-logo {
  display: block;
  margin-bottom: 35px;
}

.navigation-logo svg {
  fill: #FFC700;
  stroke: #FFC700;
}

.navigation-logo:hover svg {
  fill: #FFC700;
  stroke: #FFC700;
  opacity: 0.8;
}

.navigation-logo:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-logo:active svg {
  fill: #FFC700;
  stroke: #FFC700;
  opacity: 0.3;
}

.contact-container {
  position: relative;

  grid-column: 1/2;
  grid-row: 1/-1;
}

.contact-container::after {
  position: absolute;
  top: 124px;
  left: 0;

  width: 80px;
  height: 7px;

  content: "";
  background-color: #FFC700;;
}

.footer-address-container {
  font-style: normal;
}

.footer-address-description {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.shop-information {
  grid-column: 2/3;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 40px;
  margin: 0;
  padding: 0;
}

.footer-navigation-item {
  margin: 0;

  list-style-type: none;
}

.footer-navigation-link {
  display: block;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.footer-navigation-link:hover {
  color: #FFC700;
  text-decoration: underline;
}

.footer-navigation-link:focus {
  color: #FFFFFF;
  outline: 2px solid #AF4FFF;
}

.footer-navigation-link:active {
  color: #FFC700;
  opacity: 0.3;
}

.contact-phone {
  display: flex;
  grid-column: 3/-1;
  justify-self: flex-end;
}

.contact-phone-link {
  display: block;
  padding: 5px;

  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  color: #FFFFFF;
}

.contact-phone-link:hover {
  color: #FFC700;
}

.contact-phone-link:focus {
  color: #FFFFFF;
  outline: 2px solid #AF4FFF;
}

.contact-phone-link:active {
  color: #FFC700;
  opacity: 0.3;
}

.social {
  grid-column: 2/3;
  grid-row: 2/-1;
}

.social-list {
  display: flex;
  column-gap: 15px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-item {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social-link {
  position: relative;

  display: block;
  width: 40px;
  height: 40px;

  text-decoration: none;
  text-align: center;
  color: #000000;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.social-link:hover {
  background-color: #FFC700;
}

.social-link:focus {
  background: rgba(255, 255, 255, 0.3);
  outline: 2px solid #AF4FFF;
}

.social-link:active svg {
  fill: #444444;
  stroke: #444444;
  opacity: 0.3;
}

.social-link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  display: inline-block;
}

.copywriter {
  grid-column: 3/-1;
}

.copywriter-link {
  display: flex;
  width: 115x;
  justify-content: flex-end;

  text-decoration: none;
  color: #000000;
}

.copywriter-link svg {
  fill: #FFC700;
  stroke: #FFC700;
}

.copywriter-link:hover svg {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.copywriter-link:focus {
  outline: 1px solid #AF4FFF;
}

.copywriter-link:active svg {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  opacity: 0.3;
}

.page-main-inner {
  width: 1440px;

  background-color: #F0F0F0;
}

.inner-container {
  width: 1079px;
  padding: 35px 161px 35px 200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.inner-title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  margin: 0;
  margin-right: 16px;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item:not(:last-child)::after {
  align-items: center;
  content: url("../image/arrow-right.svg");
  margin-left: 16px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.7;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 2px solid #AF4FFF;
}

.catalog-filter {
  display: flex;
  width: 1160px;
  margin: 0 auto;

  background-color: #F0F0F0;
}

.filter-container {
  width: 200px;
  padding: 25px 60px;
}

.filter-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.filter-title {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-group {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  border: none;
}

.catalog-filter-title {
  width: 200px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 12px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
  border-top: 2px solid #000000;
}

.range-scale {
  position: relative;

  width: 200px;
  height: 2px;
  margin-bottom: 15px;

  background-color: #DCDCDC;
}

.range-bar {
  position: absolute;

  height: 2px;

  background-color: #000000;
}

.range-toggle {
  width: 18px;
  height: 18px;

  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #EBEBEB;
}

.range-toggle:hover {
  background-color: #000000;
}

.range-toggle:active {
  background-color: #000000;
  outline: 2px solid #000000;
}

.range-toggle:focus {
  outline: 2px solid #AF4FFF;
  background-color: #000000;
}

.toggle-min {
  position: absolute;
  top: -9px;
  left: -9px;
}

.toggle-max {
  position: absolute;
  top: -9px;
  left: 101px;
}

.range-wrapper-inputs {
  display: flex;
}

.range-label {
  display: flex;
  width: 58px;
  margin-right: 45px;
  margin-left: -9px;

  font-size: 15px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.range-input {
  width: 60px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.range-input:hover {
  opacity: 0.6;
}

.range-input:active {
  opacity: 0.3;
}

.range-input:focus {
  outline: 2px solid #AF4FFF;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  list-style-type: none;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  position: relative;

  display: block;
  padding-left: 16px;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control:disabled {
  opacity: 0.1;
}

.control:focus-within .control-mark {
  outline: 2px solid #AF4FFF;
}

.control-mark {
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  background-color: #F0F0F0;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
}

.control-label {
  margin-left: 16px;

  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: -5px;
  left: 5px;

  content: url("../image/filter-mark.svg");
}

.control-input[type="checkbox"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before,
.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  top: 6px;
  left: 6px;

  width: 8px;
  height: 8px;

  content: "";
  background-color: #000000;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark,
.control-input[type="radio"]:checked + .control-mark {
border: 2px solid #000000;
}

.filter-button {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;

  border: none;
  background: linear-gradient(to bottom, #F0F0F0 0%, #F0F0F0 30%, #FFE17F 30%, #FFE17F 70%, #F0F0F0 70%, #F0F0F0 100%);
}

.filter-button:hover {
  background: #FFE17F;
}

.filter-button:active {
  background: #FFCC33;
}

.filter-button:focus {
  outline: 2px solid #AF4FFF;
}

.right-column {
  width: 840px;

  background-color: #FFFFFF;
}

.sorting {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;

  background-color: #F0F0F0;
}

.sorting-title {
  margin: 0;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.sorting-form {
  width: 160px;
}

.sorting-select {
  width: 100%;
  padding-right: 30px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 400;

  background-image: url("../image/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 11px center;
  border: none;
  background-color: transparent;
  appearance: none;
}

.sorting-select:hover {
  opacity: 0.6;
}

.sorting-select:active {
  opacity: 0.3;
}

.sorting-select:focus {
  outline: 2px solid #AF4FFF;
}

.sorting-select:disabled {
  opacity: 0.1;
}

.sorting-user-button {
  width: 60px;
}

.sorting-button {
  border: none;
}

.sorting-button:hover {
  opacity: 0.6;
}

.sorting-button:active {
  opacity: 0.3;
}

.sorting-button:focus {
  outline: 2px solid #AF4FFF;
}

.product-views {
  padding: 70px 40px 75px;

  background-color: #FFFFFF;
}

.product-views-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 44px;
  margin: 0;
  padding: 0;
}

.product-views-item {
  display: grid;
  grid-template-columns: 276px 70px;
  grid-template-rows: 380px minmax(40px, 1fr);
  column-gap: 13px;
  row-gap: 32px;
  margin: 0;
  padding: 0;
  align-items: center;

  list-style-type: none;
}

.product-views-item:hover {
  opacity: 0.6;
}


.product-image {
  display: block;
  grid-column: span 2;
  order: -1;
  margin: 0;

  line-height: 0;
}

.product-image:hover {
  opacity: 0.6;
}

.product-image:active {
  opacity: 0.3;
}

.product-image:focus {
  outline: 2px solid #AF4FFF;
}

.view-title-link {
  grid-column: 1/2;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.view-title-link:hover {
  opacity: 0.6;
}

.view-title-link:active {
  opacity: 0.3;
}

.view-title-link:focus {
  outline: 2px solid #AF4FFF;
}

.view-title {
  margin: 0;
  padding: 0;
}

.product-price {
  display: block;
  grid-column: 2/-1;
  justify-self: end;

  font-weight: 400;
  line-height: 21px;
}

.product-button-container {
  width: 760px;
  padding-block: 44px;
  margin: 0 auto;
}

.product-button {
  display: block;
  width: 760px;
  padding: 18px;
  margin: 0 auto;
  box-sizing: border-box;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;

  border: 3px solid #E5E5E5;
}

.product-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.product-button:active {
  background-color: #000000;
  color: #FFFFFF;
  opacity: 0.3;
}

.product-button:focus {
  outline: 2px solid #AF4FFF;
}

.product-pagination {
  display: flex;
  width: 760px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  background: #EBEBEB;
}

.prev {
  display: block;
  margin-right: auto;
}

.next {
  display: block;
  margin-left: auto;
}

.pagination-link-button {
  padding: 25px;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  opacity: 1;
  text-decoration: none;
}

.pagination-link-button:hover {
  opacity: 0.6;
}

.pagination-link-button:active {
  opacity: 0.3;
}

.pagination-link-button:focus {
  outline: 2px solid #AF4FFF;
}

.product-pagination-list {
  display: flex;
  width: 504x;
  margin: 0 auto;
  padding: 0;
  column-gap: 13px;
}

.product-pagination-item {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.product-pagination-link {
  display: flex;
  padding: 10px;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
  text-decoration: none;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.product-pagination-link:hover {
  opacity: 0.6;
}

.product-pagination-link:active {
  opacity: 0.3;
}

.product-pagination-link:focus {
  outline: 2px solid #AF4FFF;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;

  /*display: flex;*/
  width: 100%;
  height: 100%;

  background: rgba(240, 240, 240, 0.9);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;

  margin: auto;
  margin-top: 610px;
  padding: 62px 70px;

  background: #FFFFFF;
  border: 10px solid #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-order {
  width: 920px;
  box-sizing: border-box;
}

.close-button {
  position: absolute;
  top: 74px;
  right: 70px;

  border: none;
  background-color: transparent;
}

.modal-title {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 42px;
}

.modal-label {
  width: 360px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.modal-input {
  width: 360px;
  height: 60px;
  margin-top: 14px;
  padding: 20px;
  padding-right: 208px;
  box-sizing: border-box;

  color: #000000;

  background: #F0F0F0;
  background-image: url("../image/icon-person.svg");
  background-repeat: no-repeat;
  background-position: right 24px center;
  border: none;
}

.modal-input:hover {
  background-color: #DCDCDC;
  opacity: 0.3;
}

.modal-input:active {
  background-color: #EBEBEB;
}

.modal-input:focus {
  outline: 2px solid #AF4FFF;
  opacity: 0.3;
}

.name-description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  color: #000000;
}

.modal-input-email {
  width: 360px;
  height: 60px;
  margin-top: 14px;
  padding: 20px;
  padding-right: 208px;
  box-sizing: border-box;

  color: #000000;

  background: #F0F0F0;
  background-image: url("../image/letter.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: none;
}

.modal-input-email:hover {
  background-color: #DCDCDC;
  opacity: 0.3;
}

.modal-input-email:active {
  background-color: #EBEBEB;
}

.modal-input-email:focus {
  outline: 2px solid #AF4FFF;
  opacity: 0.3;
}

.modal-input-email:invalid {
  border: 2px solid #FF3D3D;
}

.email-description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #FF3D3D;
}

.modal-label-information {
  width: 540px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.info-input {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  margin-top: 14px;
  padding: 20px;

  background: #F0F0F0;
  border: none;
}

.modal-label-amount {
  position: relative;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #000000;
}

.amount-description {
  position: absolute;
  top: -3px;
  right: 33px;

  display: block;
  width: 26px;
  height: 26px;

  background-color: #FFE17F;
  border-radius: 50%;
  background-image: url("../image/icon-info.svg");
  background-repeat: no-repeat;
  background-position: right 11px center;
}

.amount-description-hidden {
  position: absolute;
  top: 36px;
  left: -120px;
  z-index: 1;

  display:none;
  width: 200px;
  padding: 17px 19px 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #FFFFFF;

  background-color: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.amount-description-hidden::before {
  position: absolute;
  top: -6px;
  left: 125px;

  width: 14px;
  height: 6px;

  background-image: url("../image/triangle.svg");
  background-repeat: no-repeat;

  content: "";
}

.amount-description:hover .amount-description-hidden {
  display: block;
}

.container-amount {
  display: flex;
  margin-top: 14px;
}

.amount-button {
  width: 60px;
  height: 60px;
  border: none;
}

.amount-button:hover {
  opacity: 0.6;
}

.amount-button:active {
  opacity: 0.3;
}

.amount-button:focus {
  outline: 2px solid #AF4FFF;
  outline-offset: -2px;
}

.button-minus {
  background-image: url("../image/minus.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
}

.button-plus {
  background-image: url("../image/plus.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
}

.modal-input-amount {
  width: 60px;
  height: 60px;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #000000;

  background-color: #F0F0F0;
  border: none;
}

.modal-input-amount::-webkit-outer-spin-button,
.modal-input-amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.modal-button {
  display: block;
  width: 200px;
  height: 40px;
  padding: 10px 5px;
  box-sizing: border-box;

  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;

  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 30%, #FFE17F 30%, #FFE17F 70%, #FFFFFF 70%, #FFFFFF 100%);
  border: none;
}




